
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# output files of tests
tests/data/output/*

# packaging artifacts
*.egg-info/
/build/
/dist/

# virtual environment
/.venv/

# local SQLite database
/data/
*.db

# tool caches
/.mypy_cache/
/.ruff_cache/
/.pytest_cache/